body{
    margin: 0px;
    padding: 0px;
    background: white;
}

.search-box{
    position: absolute;
    top : 0%;
    left : 5%;
    transform: translate(-50,-50);
    background: grey;
    height : 20px;
    border-radius: 40px;
    padding: 10px;
}
.search-txt{
    border:none;
    background:gray;
    outline : none;
    outline: none;
    float: left;
    padding:0;
    color:white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 240px;

}
.pic{
	
	width : 500px;
	margin : auto;
	
}
.pic img {
	border : 5px solid black ;
border-radius : 50% ;}
.list ul{
    list-style: none;
    margin-top: 2%;
}
.list li{
    background:gray;
    width :170px;
    border:1px solid #ffffff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float:left;
    color:cornsilk;
    font-size: 14px;
    position:relative;
    font-family: big john;
}
.list ul li:hover{
	background: crimson;
}
.list ul ul {
	display: none;
	
}
.list ul li:hover> ul{
	display:block;
	
}
